@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
	display: block;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	content: "";
	color: #faf6f5;
}

.swiper-pagination-bullet-active {
	background-color: #faf6f5 !important;
}

.swiper-slide > div > p > span {
	font-weight: 600;
}

.swiper-slide > div > p {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.swiper-slide > div > hr {
	border-top-width: 1px;
	border-color: #e5e7eb;
}
